<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>🛒 My Shopping Website</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
        <a href="/login">Login</a>
    </nav>
</header>

<h2 class="title">My Shopping Cart</h2>

<div id="cart-items"></div>

<h2 id="total"></h2>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>