<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>🛒 My Shopping Website</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>

        {% if user %}
            <a href="/my-orders">My Orders</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
    </nav>
</header>

<h2 class="title">Our Products</h2>

<div class="products">

    {% for product in products %}
        <div class="card">
            <img src="{{ product[3] }}" width="200">

            <h3>{{ product[1] }}</h3>

            <p>₹{{ product[2] }}</p>

            <p>{{ product[4] }}</p>

            <a href="/add-to-cart/{{ product[1] }}/{{ product[2] }}">
                <button type="button">Add To Cart</button>
            </a>
        </div>
    {% endfor %}

</div>

</body>
</html>